.theme-toggle{

width:42px;
height:42px;

border:none;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

background:transparent;

color:var(--text-primary);

transition:.3s;

}

.theme-toggle:hover{

background:var(--primary);

color:white;

transform:rotate(180deg);

}